@page "/email/sendemail"

@inject IResend resendClient
@inject NavigationManager navigationManager

@attribute [RenderModeInteractiveServer(false)]

<h3>SendEmail</h3>

<FluentButton OnClick="SendEmailByAPI" Appearance="Appearance.Accent">
    Send Test Email
</FluentButton>

<FluentButton @onclick="navToInfo" Disabled="disableLinkButton" Id="btnDetails" >
    Get Email Info 
</FluentButton>

@code {

    public Guid guidResult { get; set; }
    public bool disableLinkButton { get; set; } = true;

    public async Task SendEmailByAPI()
    {
        var msg = new EmailMessage()
            {
                From = "onboarding@resend.dev",
                To = "mariobot113@hotmail.com",
                Subject = "Tst mail",
                HtmlBody = "<div><strong>Greetings<strong> 👋🏻 from .NET</div>"
            };

        var result = await resendClient.EmailSendAsync(msg);        

        guidResult = result.Content;

        disableLinkButton = false;
    }

    public void navToInfo()
    {
        navigationManager.NavigateTo($"/Email/checkemail/{guidResult}");
    }
}
