@page "/Domains/checkdomains"

@attribute [RenderModeInteractiveServer(false)]

@inject IResend resendClient

<h3>CheckDomain</h3>

@code {


    private void Link()
    {
        
        
    
    }

}
