@page "/Domains/checkdomains"

@rendermode InteractiveServer
@attribute [StreamRendering(true)]

@inject IResend resendClient

<h3>CheckDomain</h3>

@code {


    private void Link()
    {
        //resendClient.EmailRetrieveAsync(Guid, new CancellationToken())
        
        
    
    }

}
