@inherits LayoutComponentBase
<FluentLayout>
    <FluentHeader>
        <h1>Resend-net Web with Blazor</h1>
        <Resend.Web.Components.Panel.ConfigPanel></Resend.Web.Components.Panel.ConfigPanel>
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />

        <FluentDialogProvider @rendermode="RenderMode.InteractiveServer"></FluentDialogProvider>
        
        <FluentBodyContent>
            <div class="content">
                @Body
            </div>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter>
        <div class="link1">
            <a href="https://www.fluentui-blazor.net" target="_blank">Documentation and demos</a>
        </div>
        <div class="link2">
            <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor" target="_blank">About Blazor</a>
        </div>
    </FluentFooter>
</FluentLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
